node-red/.flows.json.backup
[{"id":"9040b732.fff328","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c865598a.d21ae8","type":"server","z":"","name":"Home Assistant"},{"id":"dddca876.617e48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8651b0b.2f9fe8","type":"server-events","z":"9040b732.fff328","name":"","server":"c865598a.d21ae8","event_type":"xiaomi_aqara.click","x":210,"y":100,"wires":[["27346ba9.bbd1d4","daf40014.480e2"]]},{"id":"27346ba9.bbd1d4","type":"switch","z":"9040b732.fff328","name":"select switch type","property":"payload.event.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_158d0001d61fe6","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":100,"wires":[["94e21aa8.887ed8"]]},{"id":"94e21aa8.887ed8","type":"switch","z":"9040b732.fff328","name":"select click type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":100,"wires":[["49be32d9.65839c"]]},{"id":"49be32d9.65839c","type":"api-call-service","z":"9040b732.fff328","name":"","server":"c865598a.d21ae8","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"toggle","entityId":"light.mi_ceil50_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":230,"y":180,"wires":[[]]},{"id":"daf40014.480e2","type":"debug","z":"9040b732.fff328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":40,"wires":[]}]